USE [QuanLyKhachSan_K235480106055]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanLoaiKhachHang]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <30/04/2026>
-- Description:	<Đánh giá phân hạng khách hàng.>
-- =============================================
CREATE FUNCTION [dbo].[fn_PhanLoaiKhachHang] ()
RETURNS @BangKetQua TABLE 
(
    MaKhachHang INT,
    HoTen NVARCHAR(100),
    SoLuotDat INT,
    PhanHang NVARCHAR(50)
)
AS
BEGIN
    -- 1. Insert dữ liệu thô và đếm số lượt đặt vào bảng tạm
    INSERT INTO @BangKetQua (MaKhachHang, HoTen, SoLuotDat)
    SELECT 
        kh.MaKhachHang, 
        kh.HoTen, 
        COUNT(dp.MaDatPhong)
    FROM KhachHang kh
    LEFT JOIN DatPhong dp ON kh.MaKhachHang = dp.MaKhachHang
    GROUP BY kh.MaKhachHang, kh.HoTen;

    -- 2. Cập nhật logic phân hạng (Phần này Inline TVF không làm được)
    UPDATE @BangKetQua
    SET PhanHang = N'Khách VIP'
    WHERE SoLuotDat >= 3;

    UPDATE @BangKetQua
    SET PhanHang = N'Khách Thường'
    WHERE SoLuotDat < 3;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTienCanThanhToan]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <30/04.2026>
-- Description:	<Tính số tiền cuối cùng khách phải trả khi check-out.>
-- =============================================
CREATE FUNCTION [dbo].[fn_TinhTienCanThanhToan] (@MaDatPhong INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @TongTien MONEY;
    DECLARE @SoNgay INT;

    -- Lấy thông tin số ngày, giá phòng và tiền cọc
    SELECT 
        @SoNgay = DATEDIFF(DAY, dp.NgayNhanPhong, dp.NgayTraPhong),
        @TongTien = (p.GiaPhong * 
                     CASE WHEN DATEDIFF(DAY, dp.NgayNhanPhong, dp.NgayTraPhong) = 0 
                          THEN 1 
                          ELSE DATEDIFF(DAY, dp.NgayNhanPhong, dp.NgayTraPhong) 
                     END) - dp.TienDatCoc
    FROM DatPhong dp
    INNER JOIN Phong p ON dp.MaPhong = p.MaPhong
    WHERE dp.MaDatPhong = @MaDatPhong;

    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [varchar](10) NOT NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
	[GiaPhong] [money] NOT NULL,
	[DienTich] [float] NULL,
	[TinhTrang] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimPhongTrong]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <30/04/2026>
-- Description:	<lập tức lọc ra các phòng có Tình trạng là 'Trống' theo đúng Loại phòng khách yêu cầu.>
-- =============================================
CREATE FUNCTION [dbo].[fn_TimPhongTrong] (@LoaiPhong NVARCHAR(50))
RETURNS TABLE
AS
RETURN (
    SELECT 
        SoPhong, 
        GiaPhong, 
        DienTich
    FROM Phong
    WHERE TinhTrang = N'Trống' 
      AND LoaiPhong = @LoaiPhong
);
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NgayDat] [date] NOT NULL,
	[NgayNhanPhong] [date] NOT NULL,
	[NgayTraPhong] [date] NOT NULL,
	[TienDatCoc] [money] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyPhong]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyPhong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[HanhDong] [nvarchar](255) NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [NgayDat], [NgayNhanPhong], [NgayTraPhong], [TienDatCoc], [TrangThai]) VALUES (1, 1, 1, CAST(N'2026-04-20' AS Date), CAST(N'2026-04-25' AS Date), CAST(N'2026-04-27' AS Date), 200000.0000, N'Đã hủy')
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [NgayDat], [NgayNhanPhong], [NgayTraPhong], [TienDatCoc], [TrangThai]) VALUES (2, 2, 2, CAST(N'2026-04-21' AS Date), CAST(N'2026-04-26' AS Date), CAST(N'2026-04-29' AS Date), 300000.0000, N'Đã đặt')
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [NgayDat], [NgayNhanPhong], [NgayTraPhong], [TienDatCoc], [TrangThai]) VALUES (3, 3, 3, CAST(N'2026-04-22' AS Date), CAST(N'2026-04-28' AS Date), CAST(N'2026-05-01' AS Date), 500000.0000, N'Đã nhận phòng')
GO
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiaChi]) VALUES (1, N'Nguyễn Văn An', N'0901234567', N'an@gmail.com', CAST(N'2001-05-10' AS Date), N'Hải Phòng')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiaChi]) VALUES (2, N'Trần Thị Bình', N'0912345678', N'binh@gmail.com', CAST(N'2002-08-15' AS Date), N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [NgaySinh], [DiaChi]) VALUES (3, N'Lê Quốc Cường', N'0923456789', N'cuong@gmail.com', CAST(N'2000-12-20' AS Date), N'Đà Nẵng')
GO
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyPhong] ON 

INSERT [dbo].[NhatKyPhong] ([MaLog], [MaPhong], [HanhDong], [ThoiGian]) VALUES (1, 1, N'Tình trạng phòng thay đổi từ [Đã đặt] sang [Trống]', CAST(N'2026-05-01T15:45:04.890' AS DateTime))
INSERT [dbo].[NhatKyPhong] ([MaLog], [MaPhong], [HanhDong], [ThoiGian]) VALUES (2, 6, N'Tình trạng phòng thay đổi từ [Trống] sang [Đã đặt]', CAST(N'2026-05-01T16:25:09.760' AS DateTime))
INSERT [dbo].[NhatKyPhong] ([MaLog], [MaPhong], [HanhDong], [ThoiGian]) VALUES (3, 50, N'Tình trạng phòng thay đổi từ [Trống] sang [Đã đặt]', CAST(N'2026-05-01T16:25:09.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhatKyPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [GiaPhong], [DienTich], [TinhTrang]) VALUES (1, N'101', N'Phòng đơn', 500000.0000, 25.5, N'Đã đặt')
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [GiaPhong], [DienTich], [TinhTrang]) VALUES (2, N'102', N'Phòng đôi', 800000.0000, 35, N'Đã đặt')
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [LoaiPhong], [GiaPhong], [DienTich], [TinhTrang]) VALUES (3, N'201', N'Phòng VIP', 1500000.0000, 50, N'Đã đặt')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_SoDienThoai]    Script Date: 5/1/2026 4:39:23 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_SoDienThoai] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Phong_SoPhong]    Script Date: 5/1/2026 4:39:23 PM ******/
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [UQ_Phong_SoPhong] UNIQUE NONCLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhatKyPhong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_DatPhong_Ngay] CHECK  (([NgayTraPhong]>[NgayNhanPhong]))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_DatPhong_Ngay]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_DatPhong_TienDatCoc] CHECK  (([TienDatCoc]>=(0)))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_DatPhong_TienDatCoc]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_DatPhong_TrangThai] CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã trả phòng' OR [TrangThai]=N'Đã nhận phòng' OR [TrangThai]=N'Đã đặt'))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_DatPhong_TrangThai]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_GiaPhong] CHECK  (([GiaPhong]>(0)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_GiaPhong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_TinhTrang] CHECK  (([TinhTrang]=N'Đang sửa' OR [TinhTrang]=N'Đã đặt' OR [TinhTrang]=N'Trống'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_TinhTrang]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraPhongNhanh]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <1/05/2026>
-- Description:	<nhận `SoPhong` làm **Input** và trả về:
-- `TinhTrang` (tình trạng phòng)
-- `GiaPhong` (giá phòng)  >
-- =============================================
CREATE PROCEDURE [dbo].[sp_KiemTraPhongNhanh]
    @SoPhong VARCHAR(10),
    @TinhTrang NVARCHAR(30) OUTPUT,
    @GiaPhong MONEY OUTPUT
AS
BEGIN
    SELECT 
        @TinhTrang = TinhTrang,
        @GiaPhong = GiaPhong
    FROM Phong
    WHERE SoPhong = @SoPhong;

    -- Xử lý trường hợp nhập sai số phòng
    IF @@ROWCOUNT = 0
    BEGIN
        SET @TinhTrang = N'Không tìm thấy phòng';
        SET @GiaPhong = 0;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKhachHang]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <1/05/2026>
-- Description:	<Tạo hồ sơ khách hàng mới. Tự động kiểm tra trùng lặp số điện thoại trước khi thêm để tránh tạo ra rác dữ liệu.
-- =============================================
CREATE PROCEDURE [dbo].[sp_ThemKhachHang]
    @HoTen NVARCHAR(100),
    @SoDienThoai VARCHAR(15),
    @Email VARCHAR(100) = NULL,
    @NgaySinh DATE = NULL,
    @DiaChi NVARCHAR(200) = NULL
AS
BEGIN
    -- 1. Kiểm tra logic: Số điện thoại đã tồn tại chưa?
    IF EXISTS (SELECT 1 FROM KhachHang WHERE SoDienThoai = @SoDienThoai)
    BEGIN
        PRINT N'Lỗi: Số điện thoại này đã tồn tại trong hệ thống!';
        RETURN; -- Dừng thực thi ngay lập tức
    END

    -- 2. Thực hiện Insert
    INSERT INTO KhachHang (HoTen, SoDienThoai, Email, NgaySinh, DiaChi)
    VALUES (@HoTen, @SoDienThoai, @Email, @NgaySinh, @DiaChi);

    PRINT N'Thêm khách hàng thành công!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuLichSuDatPhong]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <1/05/2025>
-- Description:	<hiển thị danh sách chi tiết các lần lưu trú của một khách hàng.  >
-- =============================================
CREATE PROCEDURE [dbo].[sp_TraCuuLichSuDatPhong]
    @MaKhachHang INT
AS
BEGIN
    SELECT 
        dp.MaDatPhong,
        p.SoPhong,
        p.LoaiPhong,
        dp.NgayNhanPhong,
        dp.NgayTraPhong,
        dp.TrangThai,
        -- Gọi lại Function từ Phần 2 để tái sử dụng logic tính toán
        dbo.fn_TinhTienCanThanhToan(dp.MaDatPhong) AS TongTien
    FROM DatPhong dp
    INNER JOIN Phong p ON dp.MaPhong = p.MaPhong
    WHERE dp.MaKhachHang = @MaKhachHang
    ORDER BY dp.NgayNhanPhong DESC; -- Sắp xếp ngày gần nhất lên đầu
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraPhong]    Script Date: 5/1/2026 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Trường Phúc>
-- Create date: <1/05/2026>
-- Description:	<Xử lý nghiệp vụ check-out. 
--Tự động cập nhật TrangThai hóa đơn thành 'Đã trả phòng' và giải phóng phòng (chuyển TinhTrang phòng về 'Trống').>
-- =============================================
CREATE PROCEDURE [dbo].[sp_XuLyTraPhong]
    @MaDatPhong INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Cập nhật trạng thái trong bảng DatPhong
        UPDATE DatPhong
        SET TrangThai = N'Đã trả phòng'
        WHERE MaDatPhong = @MaDatPhong;

        -- 2. Cập nhật trạng thái trong bảng Phong (dựa vào MaPhong của đơn đặt)
        DECLARE @MaPhong INT;
        SELECT @MaPhong = MaPhong FROM DatPhong WHERE MaDatPhong = @MaDatPhong;

        UPDATE Phong
        SET TinhTrang = N'Trống'
        WHERE MaPhong = @MaPhong;

        COMMIT TRANSACTION; -- Xác nhận lưu thay đổi
        PRINT N'Xử lý trả phòng thành công! Phòng đã được dọn trống.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; -- Hủy bỏ tất cả nếu có lỗi
        PRINT N'Có lỗi xảy ra, hệ thống đã hoàn tác thao tác!';
    END CATCH
END;
GO
